section {
	position: relative;
}

.mdb-anchor {
	position: absolute;
	top: -64px;
	width: 1px;
	height: 1px;
	background-color: transparent;
}

.mdb-sticky-header {
	position: sticky;
	z-index: 98;
	top: 0;
	display: block;
	margin: 0;
	border-bottom: 1px solid var(--mdb-border-color-alt);
	padding: 16px;
	background-color: var(--mdb-background-color);
	width: calc(100% - 32px);
	height: 32px;
	line-height: 32px;
}

.mdb-collection-header {
	margin: 8px 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 8px;
	font-size: 14pt;
	font-weight: 400;
	line-height: 32px;
}

.mdb-collection-header img {
	width: 32px;
	height: 32px;
}
